*{
  
    color: rgb(0, 0, 0);
    text-decoration: none;
}
a:link {
    background-color: rgba(179, 179, 180, 0.789);
}
h1{ color: rgb(0, 0, 0);
    text-align:center ;}

p{
    margin: 3% 20% 5% 20%;
    text-align: center;
}

.conteiner {
    background-color:rgba(80, 80, 81, 0.523) ;
    text-align: center;
    padding:35px;
    border-radius:40px ;
    font-size: 30px;
    font-family:cursive;
}
h2{
    color: rgb(0, 0, 0);
    text-align:center ;
}
.tabla {
    background-color:rgba(80, 80, 81, 0.523) ;
    text-align: center;
    padding:35px;
    border-radius:40px ;
    font-size: 30px;
    font-family:cursive;
}

.perro {  background-color:rgba(80, 80, 81, 0.523) ;
    text-align: center;
    padding:35px;
    border-radius:40px ;
    font-size: 30px;
    font-family:cursive;}