h1{ color: rgb(0, 0, 0);
    text-align:center ;}
    *{
  
        color: rgb(0, 0, 0);
        text-decoration: none;
    }
    a:link {
        background-color: rgba(179, 179, 180, 0.789);
    }
    .relleno {
        background-color:rgba(32, 32, 200, 0.472) ;
        text-align: center;
        border-radius:40px ;
        font-size: 32px;
         margin: 3% 20% 5% 20%;
        text-align: center;
    }