h1{ color: rgb(0, 0, 0);
    text-align:center ;}
    *{
  
        color: rgb(0, 0, 0);
        text-decoration: none;
    }
    a:link {
        background-color: rgba(0, 0, 0, 0.789);
    }
    .conteiner{
        margin: 3% 20% 5% 20%;
        text-align: center;
    }
    .conteiner {
        background-color:rgba(80, 80, 81, 0.523) ;
    text-align: center;
    padding:35px;
    border-radius:40px ;
    font-size: 30px;
    font-family:cursive;}

        .tabla {
            background-color:rgba(80, 80, 81, 0.523) ;
            text-align: center;
            padding:35px;
            border-radius:40px ;
            font-size: 20px;
            font-family:cursive;
        }